.masonry { /* Masonry container */
    display: flex;
    flex-flow: row wrap;
    margin: 1.5em auto;
    max-width: 80%;
    column-gap: 1.5em;
    row-gap: 1em;
}
  
.item { /* Masonry bricks or child elements */
  flex: auto;
  min-width: 150px;
  margin: 0 8px 8px 0; /* Some gutter */
  padding: 30px;
  border-radius: 50px;
  color: black;
}

.itemShow{
  border: solid 3px red;
  width: 100%;
}

.contentShow{
  display: block;
  opacity: 1;
  transition: all 2s;
}

.itemHidden{
  border: none;
  width: auto;
}

.contentHidden{
  display: none;
  opacity: 0;
}

.arrowImg {
  width: 30px; 
  height: 17.5px; 
  margin-left: 20px;
}
/*
.item:nth-child(4n+1) {
    width: 250px;
  }
  .item:nth-child(4n+1):nth-child(4n+2) {
    width: 325px;
  }
  .item:nth-child(4n+1):nth-child(4n+3) {
    width: 180px;
  }
  .item:nth-child(4n+1):nth-child(4n+4) {
    width: 380px;
  }
  */