.masonry-wrapper {
  z-index: 1;
}

.masonry { /* Masonry container */
    display: flex;
    flex-flow: row wrap;
    margin: 1.5em auto;
    max-width: 80%;
    column-gap: 1.5em;
    row-gap: 1em;
}
  
.item { /* Masonry bricks or child elements */
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  margin: 0 8px 8px 0; /* Some gutter */
  padding: 30px;
  border-radius: 50px;
  color: black;
}

.arrowImg {
  width: 30px; 
  height: 17.5px; 
  margin-left: 20px;
}

#selectedItemBG {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.8;
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

#selectedItem{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 30px;
  border-radius: 50px;
  background-color: aqua;
  z-index: 3;
  width: 60%;
  color: black;
}

.item:nth-child(4n+1) {
  width: 250px;
}
.item:nth-child(4n+1):nth-child(4n+2) {
  width: 325px;
}
.item:nth-child(4n+1):nth-child(4n+3) {
  width: 180px;
}
.item:nth-child(4n+1):nth-child(4n+4) {
  width: 380px;
}

img {
  cursor: pointer;
}

.input {
  width: 80%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
}

.input:focus {
  border: 3px solid white;
  background: white;
  border-radius: 25px;
}

#title {
  font-size: 1.4rem;
  font-weight: bold;
}

#content {
  font-size: 1.2rem;
  font-weight: bold;  
}